.meeting-scrollpane {
    -fx-background-color: transparent;
}

.meeting-scrollpane .viewport {
    -fx-background-color: lightgrey;
    -fx-background-radius: 20px;
}

.events_list-scrollpane {
    -fx-background-color: transparent;
}

.events_list-scrollpane .viewport {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20px;
}

.custom-button {
    -fx-background-color: #122023;
    -fx-text-fill: white;
    -fx-background-radius: 29px;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-cursor: hand;
}
.custom-button:hover {
    -fx-background-color: #1c2f33;
}

/* Navigation buttons like arrows */
.nav-button {
    -fx-background-color: transparent;
    -fx-text-fill: #333;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.nav-button:hover {
    -fx-text-fill: #000;
}

.label.title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #222;
}

/* Weekday headers */
.calendar-day-header {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-border-color: transparent transparent #cccccc transparent;
    -fx-border-width: 0 0 2px 0;
    -fx-border-insets: 0 15 0 15;
    -fx-padding: 0 0 4px 0;
}
